body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:image-set("/res/background.jpg");
   background-size: cover;
   
   
}

.header {
    text-align: center;
    padding: 80px;
}

.header h1 {
    font-size: 48px;
    color: #333;
    animation: fadeInUp 2s ease-in-out;
}

.header p {
    font-size: 18px;
    color: #555;
    animation: fadeInUp 2s ease-in-out;
    animation-delay: 0.5s;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    animation: fadeInUp 2s ease-in-out;
    animation-delay: 1s;
}

.cta-button:hover {
    background-color: #0056b3;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#welcome{
    user-select: none;
    pointer-events: none;
}